header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  input {
    flex: 1 1 100%;
    margin-bottom: 2rem;

    @media (min-width: $med) {
      margin-left: auto;
      max-width: rem(300);
      margin-bottom: 0;
    }

    border: 1px solid #dadada;
    box-sizing: border-box;
    background: #fff;
    color: #dadada;
    border-radius: rem(2);
    padding: 1rem 0.5rem;
    font-size: rem(18);
  }

  h1 {
    font-size: rem(77);
    line-height: 1;
    margin-bottom: 1rem;

    @media (min-width: $med) {
      margin: 2rem 0;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: rem(8);
    background: linear-gradient(270deg, $secondary 0%, $primary 100%);
    border-radius: rem(2);
  }
}
